@import '../common';

.tag-list-input {
  min-height: 34px;
  width: 310px;
  max-height: 150px;
  border-radius: 6px;
  background-color: $D80;
  border: solid 1px $B10;
  overflow-y: auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  
  .tag {
    display: inline-block;
  }
  
  .filter-text-field {
    overflow-y: auto;
    padding: 0px 9px;
    text-align: left;
    color: $paletteD1;
    height: 34px;
    
    &:focus {
      outline: none;
    }
    
    &:hover {
      background-color: $D80;
    }
  }
}
